# -*- coding: utf-8 -*-
# vim: ft=yaml
---
lynis:
  install_from_package: false
  install_from_source: true
  git_url: 'https://github.com/CISOfy/lynis.git'
  use_repo: false
  repo:
    use_customers_repo: false
    install_plugins: false
    license_key: none
    upload_server: portal.cisofy.com
  config-dir: /etc/lynis
