# -*- coding: utf-8 -*-
# vim: ft=yaml
---
lynis:
  install_from_package: false
  install_from_source: true
  install_plugins: false
  git_url: 'https://github.com/CISOfy/lynis.git'
  use_repo: false

  config_dir: /etc/lynis
  config:
    profiles:
      foo:
        skip-test:
          - name: LYNIS
            description: This release is more than 4 months old. Consider upgrading
            reason: We wait for new Debian package
      bar:
        skip-test:
          - name: KRNL-5788
            # yamllint disable-line rule:line-length
            description: Determine why /vmlinuz or /boot/vmlinuz is missing on this Debian/Ubuntu system
            reason: This is OVH kernel

          - name: 'KRNL-6000:net.ipv4.conf.all.log_martians'
            description: 'net.ipv4.conf.all.log_martians (exp: 1)'
            reason: What for?
